extends ../layout/base

block content 
    .container
        p.container__title Всё про вёрстку
        p.container__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, pariatur! Error repudiandae eaque in qui, recusandae id illo dolorum doloremque et nobis alias animi, accusantium ipsam repellat, sed consequuntur neque?In atque vel accusamus non corrupti nisi id assumenda! Ducimus optio recusandae, quaerat tempore non perspiciatis autem repudiandae, obcaecati ad accusamus fuga id corrupti nam, quis laudantium dignissimos nemo harum.Qui adipisci, perferendis laudantium pariatur eius maxime deleniti architecto? Libero fugit repellendus aspernatur sunt ipsam debitis alias tempora harum adipisci nam porro tenetur quaerat nesciunt, eius nemo sint molestias inventore!Neque ipsa rem ducimus deleniti. Minus magnam, cupiditate ad dolore ratione quasi eos nesciunt tempore voluptas. Quibusdam et rerum, ut incidunt accusantium, libero reprehenderit sed illum nobis magni culpa natus.

    .container
        p.container__title Всё про мобильные приложения
        p.container__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, pariatur! Error repudiandae eaque in qui, recusandae id illo dolorum doloremque et nobis alias animi, accusantium ipsam repellat, sed consequuntur neque?In atque vel accusamus non corrupti nisi id assumenda! Ducimus optio recusandae, quaerat tempore non perspiciatis autem repudiandae, obcaecati ad accusamus fuga id corrupti nam, quis laudantium dignissimos nemo harum.Qui adipisci, perferendis laudantium pariatur eius maxime deleniti architecto? Libero fugit repellendus aspernatur sunt ipsam debitis alias tempora harum adipisci nam porro tenetur quaerat nesciunt, eius nemo sint molestias inventore!Neque ipsa rem ducimus deleniti. Minus magnam, cupiditate ad dolore ratione quasi eos nesciunt tempore voluptas. Quibusdam et rerum, ut incidunt accusantium, libero reprehenderit sed illum nobis magni culpa natus.

    .container
        p.container__title Всё про JS
        p.container__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, pariatur! Error repudiandae eaque in qui, recusandae id illo dolorum doloremque et nobis alias animi, accusantium ipsam repellat, sed consequuntur neque?In atque vel accusamus non corrupti nisi id assumenda! Ducimus optio recusandae, quaerat tempore non perspiciatis autem repudiandae, obcaecati ad accusamus fuga id corrupti nam, quis laudantium dignissimos nemo harum.Qui adipisci, perferendis laudantium pariatur eius maxime deleniti architecto? Libero fugit repellendus aspernatur sunt ipsam debitis alias tempora harum adipisci nam porro tenetur quaerat nesciunt, eius nemo sint molestias inventore!Neque ipsa rem ducimus deleniti. Minus magnam, cupiditate ad dolore ratione quasi eos nesciunt tempore voluptas. Quibusdam et rerum, ut incidunt accusantium, libero reprehenderit sed illum nobis magni culpa natus.

    .container
        p.container__title Всё про веб-приложения
        p.container__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum, pariatur! Error repudiandae eaque in qui, recusandae id illo dolorum doloremque et nobis alias animi, accusantium ipsam repellat, sed consequuntur neque?In atque vel accusamus non corrupti nisi id assumenda! Ducimus optio recusandae, quaerat tempore non perspiciatis autem repudiandae, obcaecati ad accusamus fuga id corrupti nam, quis laudantium dignissimos nemo harum.Qui adipisci, perferendis laudantium pariatur eius maxime deleniti architecto? Libero fugit repellendus aspernatur sunt ipsam debitis alias tempora harum adipisci nam porro tenetur quaerat nesciunt, eius nemo sint molestias inventore!Neque ipsa rem ducimus deleniti. Minus magnam, cupiditate ad dolore ratione quasi eos nesciunt tempore voluptas. Quibusdam et rerum, ut incidunt accusantium, libero reprehenderit sed illum nobis magni culpa natus.

    .section 
        p.section__title Другой заголовок
        p.section__text Много разного текста Много разного текста Много разного текста Много разного текста Много разного текста Много разного текста Много разного текста Много разного текста Много разного текста Много разного текста Много разного текста Много разного текста Много разного текста Много разного текста
        
        
