extends ../layout/base

block variables
    - 
        let n = 0;
        let cardsQuantity = 6;

block content
    mixin card
        .price-list__card.card
            .card__mobile-img
                img(src="../src/static/img/card-img.jpg", class="card__pic")
            .card__body  
                .card__img 
                    img(src="../src/static/img/card-img.jpg", class="card__pic")
                p.card__name Фанера ФК березовая (вторая строка)
                .card__characteristic 
                    span.card__characteristic-text Размер:
                    span.card__characteristic-value 3х1525х1525мм
                .card__characteristic 
                    span.card__characteristic-text Сорт:
                    span.card__characteristic-value IV/IV НШ
                p.card__in-stock <span class="card__in-stock-value">10000</span> шт. на складе
                .card__bottom
                    .card__price
                        span.card__price-val <span class="card__price-num">1098</span> р
                        span.card__price-per-one за 1 шт 
                    .card__counter-block 
                        .card__counter 
                            a(href="#", class="card__minus-btn") -
                            input(type="number", class="card__field", min="0", value="1", onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))")
                            a(href="#", class="card__plus-btn") +
                        .card__shop-basket в корзину
                    a(href="#", class="card__clarify-remainder") уточнить остаток
    article.price-list 
        .price-list__container
            while n < cardsQuantity
                +card = n
                - n ++
                