html
    box-sizing: border-box
    scroll-behavior: smooth

*
    box-sizing: inherit

    &::before, &::after
    box-sizing: inherit

body
    width: 100%
    font-family: 'Open Sans', sans-serif
    font-style: normal
    font-size: 12px
    line-height: 16px
    font-weight: normal
    color: #010101
    overflow: hidden

.price-list
    max-width: 711px

.price-list
		&__container
            display: flex
            flex-wrap: wrap
		&__card
            display: flex
            flex-direction: column
            min-height: 465px
            flex: 0 1 30.52%
            padding: 10px
            margin-bottom: 30px
            border: 1px solid #E3E3E3
            &:not(&:nth-of-type(3n+3))
                margin-right: 30px

.card
		&__img
            position: relative
            height: 197px
            margin-bottom: 10px
		&__pic
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
		&__name
            font-weight: bold
            color: #222222
            font-size: 14px
            line-height: 21px
            margin-bottom: 10px
		&__characteristic
            position: relative
            padding-left: 18px
            margin-bottom: 2px
            &::before
                content: ''
                position: absolute
                width: 8px
                height: 8px
                border-radius: 50%
                background: #FBC206
                display: inline-block
                left: 0
                top: 50%
                transform: translateY(-50%)
		&__characteristic-text
            color: #919191
            display: block
		&__characteristic-value
            font-size: 14px
            line-height: 21px
            color: #000000
		&__in-stock
            position: relative
            padding-left: 22px
            font-size: 14px
            line-height: 14px
            color: #16C861
            display: flex
            align-items: center
            margin-bottom: 8px
            &::before
                content: ''
                position: absolute
                left: 0
                width: 12px
                height: 12px
                display: inline-block
                background-image: url('img/svg/check-icon.svg')
		&__in-stock-value
            font-size: 14px
            line-height: 14px
            color: #16C861
		&__bottom
            margin-top: auto
		&__price
            display: flex
            align-items: baseline
            margin-bottom: 20px
		&__price-val
            font-weight: bold
            font-size: 18px
            line-height: 18px
            color: #222222
		&__price-num
            display: inline-block
            font-weight: bold
            font-size: 18px
            line-height: 18px
            color: #222222
		&__price-per-one
            margin-left: 10px
            display: block
            padding: 3px 5px
            font-size: 12px
            line-height: 12px
            color: #919191
            background: #E3E3E3
		&__counter-block
            display: flex
		&__counter
            position: relative
            width: 120px
            height: 43px
            background: #E3E3E3
		&__minus-btn
            position: absolute
            color: #222222
            text-decoration: none
            left: 10px
            top: 50%
            transform: translateY(-50%)
            font-size: 24px
		&__field
            background: transparent
            width: 100%
            height: 100%
            border: none
            padding-left: 44px
            font-weight: bold
            font-size: 14px
            line-height: 14px
            color: #222222
            &:focus
                outline: none
		&__plus-btn
            position: absolute
            color: #222222
            text-decoration: none
            right: 10px
            top: 50%
            transform: translateY(-50%)
            font-size: 24px
		&__shop-basket

		&__clarify-remainder
            max-width: 169px
            font-size: 14px
            line-height: 21px
            padding: 10px
            color: #FFFFFF
            display: inline-block
            background: #20A8B5
            border: 1px solid #20A8B5
            text-decoration: none
            text-transform: uppercase





